      </div> <!-- end main div.row -->
    </div> <!-- end main body div.container -->
    <div class="footer">
      <span class="home"><a href="/">Home</a></span>
      <span class="home"><a href="/squads/new">New Squad</a></span>
      <span class="home"><a href="/squads/1/students">Students in squad 1</a></span>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
    <script src="app.js"></script>
  </body>
</html>