      </div> <!-- end main div.row -->
    </div> <!-- end main body div.container -->
    <ul class="footer">
      <li class="home"><a href="/">Home</a></li>
      <li class="double">|</li>
      <li class="new_squad"><a href="/squads/new">New Squad</a></li>
      <li class="double">|</li>
      <li class="show_students_in_squad1"><a href="/squads/1/students">Students in squad 1</a></li>
      <li class="double">|</li>
      <li class="repopulate"><a href="/repopulate_squads">Repopulate test squads</a></li>
      <li class="double">|</li>
      <li class="repopulate"><a href="/repopulate_students">Repopulate test students</a></li>
    </ul>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
    <script src="../../app.js"></script>
  </body>
</html>