<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="normalize.css">

  <link rel="stylesheet" href="main.css">

  <title>WDI Week 5, Lab 5 - full-stack "Squad" app (CRUD, Postgres DB, Ruby, Handlebars, Bootstrap, Javascript, CSS3, HTML5 </title>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1>Squad Lab</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
