<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">

  <!-- Glyph icons -->
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="../../normalize.css">

  <link rel="stylesheet" href="../../main.css">

  <title>WDI Week 5, Lab 5 - full-stack "Squad" app (CRUD, Postgres DB, Ruby, Handlebars, Bootstrap, Javascript, CSS3, HTML5 </title>
</head>
<body>
  <div class="container">
    <div class="row">
      <h1 class="home"><a href="/">Squad Lab</a></h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
