<%= erb :'partials/_header' %>

      <h2>Add a squad</h2>
      <div class="inline dataHeader">
        <span><h3><label for="name">Squad Name</label></h3></span>
        <span><label for="mascot">Mascot</label></span>
        <span>&nbsp;</span>
      </div>
      <div class="inline data">
        <form action="/squads" method="POST">
          <span>
            <input type="text" name="name" id="name" autofocus required>
          </span>
          <span>
            <input type="text" name="mascot" id="mascot" required>
          </span>
          <span>
            <input type="submit" value="Add" class="add">
          </span>
        </form>
      </div>

<%= erb :'partials/_footer' %>